/* Déclaration de la police personnalisée */
@font-face {
	font-family: 'Cursed';
	src: url('fonts/cursed.ttf') format('truetype');
}

/* Styles généraux */
body {
	margin: 0;
	background-color: #1B234A;
}

/* Conteneur principal */
.container {
	display: flex;
	justify-content: space-around;
}

/* Titres h3 */
.team {
	font-family: 'Verdana';
	font-size: 40px;
	font-weight: bold;
	color: white;
	margin-bottom: auto;
}

/* Conteneur des scores */
#score-guest,
#score-home {
	display: flex;
	justify-content: center;
	border-radius: 10%;
	background-color: black;
	max-width: 10%;
	margin: 3vw;
	color: #F94F6D;
	padding: 3% 10%;
}

/* Conteneur des scores */
#score-container {
	display: flex;
	justify-content: space-around;
}

/* Scores HOME et GUEST */
#home,
#guest {
	font-family: 'Cursed';
	text-align: center;
	font-size: 90px;
	margin: auto;
}

/* Conteneur des boutons */
.button-container {
	display: flex;
	justify-content: space-around;
}

/* Boutons d'incrémentation */
.increment-btn {
	text-align: center;
	font-family: 'Cursed';
	border: 0.3vw solid #9AABD8;
	background-color: #1B244A;
	color: #9AABD8;
	border-radius: 8%;
	font-size: 18px;
	padding: 1.7vw;
	transition: 0.4s ease;
	margin: 0.5vw;
}

/* Conteneur du bouton de réinitialisation */
.reset {
	display: flex;
	justify-content: center;
}

/* Bouton de réinitialisation */
.reset-btn {
	font-family: 'Cursed';
	border: 0.3vw solid #F94F6D;
	background-color: #1B244A;
	color: #F94F6D;
	border-radius: 8%;
	font-size: 18px;
	padding: 1.7vw;
	transition: 0.4s ease;
}

/* Conteneur des boutons HOME et GUEST */
.home-btn,
.guest-btn {
	display: flex;
	justify-content: center;
}

/* Conteneur des boutons */
.btn-container {
	display: flex;
	justify-content: space-around;
}
