@font-face {
	font-family: 'cursed';
	src: url('cursed.ttf') format('truetype');
}

body {
	margin: 0;
	background-color: #1B234A;
}

.container {
	display: flex;
	justify-content: space-around;
}

h3 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 5vw;
	font-weight: bold;
	color: white;
	margin-bottom: 0;
}

#score-guest,
#score-home {
	display: flex;
	justify-content: center;
	border-radius: 5%;
	background-color: black;
	max-width: 10%;
	margin: 3vw;
	color: red;
	padding: 2% 8% 2% 8%;
}

#score-container {
	display: flex;
	justify-content: space-around;
}

.home,
.guest {
	font-family: "cursed";
	text-align: center;
	font-size: 13vw;
	margin: auto;
	animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

.button-container {
	display: flex;
	justify-content: space-around;
}

.plus {
	text-align: center;
	font-family: "cursed";
	border: 0.3vw solid #9AABD8;
	background-color: #1B244A;
	color: #9AABD8;
	border-radius: 8%;
	font-size: 3vw;
	padding: 1.7vw;
	transition: 0.4s ease;
}

.reset {
	display: flex;
	justify-content: center;
}

.clean {
	font-family: "cursed";
	border: 0.3vw solid red;
	background-color: #1B244A;
	color: red;
	border-radius: 8%;
	font-size: 3vw;
	padding: 1.7vw;
	transition: 0.4s ease;
}

.plus:hover {
	color: red;
	border: 0.3vw solid red;
}

.clean:hover {
	color: rgb(163, 12, 12);
	border: 0.3vw solid rgb(163, 12, 12);
}

.end {
	font-family: "cursed";
	text-align: center;
	font-size: 1vw;
	color: #9AABD8;
}

/* BEGIN: Additional CSS for HTML Refactor */

.home-btn,
.guest-btn {
	display: flex;
	justify-content: center;
}

.btn-container {
	display: flex;
	justify-content: space-around;
}

.increment-btn {
	text-align: center;
	font-family: "cursed";
	border: 0.3vw solid #9AABD8;
	background-color: #1B244A;
	color: #9AABD8;
	border-radius: 8%;
	font-size: 3vw;
	padding: 1.7vw;
	transition: 0.4s ease;
	margin: 0.5vw;
}

.increment-btn:hover {
	color: red;
	border: 0.3vw solid red;
}

/* END: Additional CSS for HTML Refactor */
